[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "latexSymb"]
	path = latexSymb
	url = https://github.com/nicoesve/latexsymb
[submodule "riemtan"]
	path = riemtan
	url = https://github.com/nicoesve/riemtan
